{% extends 'layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/tree.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div style="text-align: left; margin-bottom: 10px; margin-left: 20px;">
            <input id="btnAdd" type="button" value="上传文档" class="btn btn-success">
            <!-- 搜索 -->
            <div style="float: right;width: 300px; margin-right: 18px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- 左边树-->
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 0">
                    <div class="menus">
                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司售前资料</div>
                            <div class="content">
                                <a>公司白皮书</a>
                                <a>公司其它项目介绍</a>
                                <a>公司券商项目介绍</a>
                                <a>公司自研产品介绍</a>
                            </div>
                        </div>

                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司券商项目介绍</div>
                            <div class="content hide">
                                <a>O32系统</a>
                                <a>TA系统</a>
                                <a>东方证券</a>
                                <a>光大证券</a>
                                <a>国金证券</a>
                                <a>国元证券</a>
                                <a>海通证券</a>
                                <a>券商周末测试</a>
                            </div>
                        </div>

                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司自研产品介绍</div>
                            <div class="content hide">
                                <a>自动化平台</a>
                                <a>测试管理平台</a>
                                <a>环境配置管理</a>
                                <a>客户行为回放</a>
                                <a>手机自动化平台</a>
                                <a>数据构造平台</a>
                                <a>统一模拟</a>
                                <a>小工具介绍</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司其它项目介绍</div>
                            <div class="content hide">
                                <a>MicroFocus(OpenText)</a>
                                <a>社保</a>
                                <a>长鑫存储</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 右边列表 -->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    售前文档列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>文件名</th>
                        <th>创建时间</th>
                        <th>所属分类</th>
                        <th>负责人</th>
                        <th>更新时间</th>
                        <th>更新说明</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for foo in  queryset %}
                        <tr uid="{{ foo.id }}">
                            <th>{{ foo.id }}</th>
                            <td>{{ foo.filename }}</td>
                            <td>{{ foo.create_time|date:'Y-m-d' }}</td>
                            <td>{{ foo.sort }}</td>
                            <td>{{ foo.user.username }}</td>
                            <td>{{ foo.update_time|date:'Y-m-d' }}</td>
                            <td>{{ foo.renew }}</td>
                            <td>
                                <input uid="{{ foo.id }}" type="button" class="btn btn-primary btn-xs btn-edit"
                                       value="编辑">
                                <input uid="{{ foo.id }}" class="btn btn-danger btn-xs btn-delete" type="button"
                                       value="删除">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="pagination" style="margin-left: 15px;">
            {{ page_string }}
        </ul>


    </div>
    <!-- 新建/编辑订单 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">上传文件</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="clearfix">
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group" style="position: relative; margin-bottom: 20px">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span class="error-msg" style="color: red;position: absolute;"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id='btnSave' type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除对话框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                {#                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span#}
                {#                        aria-hidden="true">×</span></button>#}
                <h4>是否确定删除</h4>
                <p style="margin: 10px 0;">删除后所有关联的相关数据都会被删除！</p>
                <p style="text-align: right">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script type="text/javascript">
        var delete_id;
        //根据全局变量edit有没有值判断新增还是修改
        var edit_id;

        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
            bindBtnEditEvent();
        })

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {
                // 将编辑id置为空
                edit_id = undefined;
                // 清空对话框中数据
                $('#formAdd')[0].reset();
                $('#myModalLabel').text('上传文件');
                //点击按钮，显示对话框
                $('#myModal').modal('show');
                initUpdateTime();
            });
        }

        function initUpdateTime() {
            $('#id_update_time').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: 'zh-CN',
                {#todayBtn: true, //显示今日按钮#}
                autoclose: true,
                // todayHighlight: true, // 今日高亮显示
                // minView: "month", // 最小视图为月份，如果为 day 的话还会让你选小时

            })
        }

        function bindBtnSaveEvent() {
            $('#btnSave').click(function () {
                // 清除错误信息
                $('.error-msg').empty();

                if (edit_id) {
                    //编辑
                    doEdit();
                } else {
                    //添加
                    doAdd();
                }


            })
        }

        function doAdd() {
            var form_data = new FormData($('#formAdd')[0]);
            $.ajax({
                url: '/sales/add/',
                type: 'post',
                data: form_data,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (res) {
                    if (res.status) {
                        alert('提交成功');
                        $('#formAdd')[0].reset();
                        $('#myModal').modal('hide');
                        location.reload();
                    } else {
                        $.each(res.error, function (name, errorList) {
                            $('#id_' + name).next().text(errorList[0]);
                        });
                    }
                }
            });
        }

        function doEdit() {
            var form_data = new FormData($('#formAdd')[0]);
            $.ajax({
                url: '/sales/edit/' + '?uid=' + edit_id,
                type: 'post',
                data: form_data,
                processData: false,
                contentType: false,
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        alert('更新成功');
                        // 清空表单
                        $('#formAdd')[0].reset();
                        // 关闭对话框
                        $('#myModal').modal('hide');
                        //页面刷新
                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }
                    }
                }
            })
        }

        //点击删除按钮
        function bindBtnDeleteEvent() {
            // 自定义class样式做ajax触发
            $('.btn-delete').click(function () {
                //alert('点击了删除');
                $('#deleteModal').modal('show');

                //获取当前行id给全局变量
                delete_id = $(this).attr('uid');
            })
        }

        // 点击删除按钮后的确认按钮
        function bindBtnConfirmDeleteEvent() {
            $('#btnConfirmDelete').click(function () {
                // 确认删除，把全局变量中的id发送到后台
                $.ajax({
                    {#url: '/order/' + delete_id + 'delete/',#}
                    url: '/sales/delete/',
                    type: 'GET',
                    data: {
                        uid: delete_id
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            {#// 删除对话框隐藏#}
                            {#$('#deleteModal').modal('hide');#}
                            {#// 当前删除的数据页面删除掉(js)#}
                            {#$("tr[uid='"+ delete_id + "']").remove();#}
                            {#// 要删除的全局变量置空#}
                            {#delete_id = 0;#}

                            // 最简单的思路:
                            location.reload();
                        } else {
                            alert(res.error);
                        }
                    }
                })
            });
        }

        // 编辑对话框公用新建框
        function bindBtnEditEvent() {
            $('.btn-edit').click(function () {
                // 清空对话框中数据
                $('#formAdd')[0].reset();
                var currentId = $(this).attr('uid');
                edit_id = currentId;
                //发送ajax去后台发送当前行数据
                $.ajax({
                    url: '/sales/detail/',
                    type: 'GET',
                    data: {
                        uid: currentId
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            // 数据赋值到对话框中
                            $.each(res.data, function (name, value) {
                                $('#id_' + name).val(value);
                            })
                            // 修改对话框标题
                            $('#myModalLabel').text('更新文件');
                            $('#myModal').modal('show');
                        } else {
                            alert(res.error);
                        }
                    }
                })
                initUpdateTime();
                //对话框中默认展现
            })
        }

        //左边树点击
        function clickMe(self) {
            // 寻找标签
            var hasHide = $(self).next().hasClass('hide')
            if (hasHide) {
                $(self).next().removeClass('hide');
            } else {
                $(self).next().addClass('hide');
            }
            $(self).parent().siblings().find('.content').addClass('hide');
        }

    </script>

{% endblock %}