{% extends 'layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/tree.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div style="text-align: left; margin-bottom: 10px; margin-left: 20px;">
            <input id="btnAdd" type="button" value="上传文档" class="btn btn-success">
            <!-- 搜索 -->
            <div style="float: right;width: 300px; margin-right: 18px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- 左边树-->
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 0">
                    <div class="menus">
                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司售前资料</div>
                            <div class="content">
                                <a>公司白皮书</a>
                                <a>公司其它项目介绍</a>
                                <a>公司券商项目介绍</a>
                                <a>公司自研产品介绍</a>
                            </div>
                        </div>

                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司券商项目介绍</div>
                            <div class="content hide">
                                <a href="?sort=5" class="content-link">O32系统</a>
                                <a href="?sort=6" class="content-link">TA系统</a>
                                <a>东方证券</a>
                                <a>光大证券</a>
                                <a>国金证券</a>
                                <a>国元证券</a>
                                <a>海通证券</a>
                                <a>券商周末测试</a>
                            </div>
                        </div>

                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司自研产品介绍</div>
                            <div class="content hide">
                                <a>自动化平台</a>
                                <a>测试管理平台</a>
                                <a>环境配置管理</a>
                                <a>客户行为回放</a>
                                <a>手机自动化平台</a>
                                <a>数据构造平台</a>
                                <a>统一模拟</a>
                                <a>小工具介绍</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header" onclick="clickMe(this)">公司其它项目介绍</div>
                            <div class="content hide">
                                <a>MicroFocus(OpenText)</a>
                                <a>社保</a>
                                <a>长鑫存储</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 右边列表 -->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    售前文档列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>文件名</th>
                        <th>创建时间</th>
                        <th>所属分类</th>
                        <th>负责人</th>
                        <th>更新时间</th>
                        <th>更新说明</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for foo in  queryset %}
                        <tr uid="{{ foo.id }}">
                            <th>{{ foo.id }}</th>
                            <td><a href="{{ foo.filepath.url }}">{{ foo.filename }}</a></td>
                            <td>{{ foo.create_time|date:'Y-m-d' }}</td>
                            <td>{{ foo.sort }}</td>
                            <td>{{ foo.user.fullname }}</td>
                            <td>{{ foo.update_time|date:'Y-m-d' }}</td>
                            <td>{{ foo.renew }}</td>
                            <td>
                                <input uid="{{ foo.id }}" type="button" class="btn btn-primary btn-xs btn-edit"
                                       value="更新">
                                <!--
                                <input uid="{{ foo.id }}" class="btn btn-danger btn-xs btn-delete" type="button"
                                       value="删除">
                                 -->
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="pagination" style="margin-left: 15px;">
            {{ page_string }}
        </ul>
    </div>
    <!-- 新建/编辑订单 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">上传文件</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="clearfix">
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group" style="position: relative; margin-bottom: 20px">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span class="error-msg" style="color: red;position: absolute;"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id='btnSave' type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除对话框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                {#                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span#}
                {#                        aria-hidden="true">×</span></button>#}
                <h4>是否确定删除</h4>
                <p style="margin: 10px 0;">删除后所有关联的相关数据都会被删除！</p>
                <p style="text-align: right">
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'js/annex.js' %}"></script>
    <script>
        $(function () {
            $('.content-link').on('click', function (event) {
                event.preventDefault(); // 阻止链接默认跳转行为
                var href = $(this).attr('href'); // 获取链接地址
                $.get(href, function (data) { // 发送 GET 请求，获取服务器返回的数据
                    $('tbody').html(data); // 将服务器返回的数据重新渲染页面中的tbody标签
                });
            });
        });
    </script>
{% endblock %}