{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/user/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建用户
            </a>
            <!--查询 -->
            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="搜索用户"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                          </button>
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">按姓名</a></li>
                            <li><a href="#">按邮箱</a></li>
                            <li><a href="#">按手机号</a></li>
                          </ul>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                用户列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>密码</th>
                    <th>邮箱</th>
                    <th>创建时间</th>
                    <th>性别</th>
                    <th>部门</th>
                    <th>角色</th>
                    <th>操作</th>
                    <th>重置密码</th>
                </tr>
                </thead>
                <tbody>
                {% for foo in  queryset %}
                    <tr>
                        <th>{{ foo.id }}</th>
                        <td>{{ foo.username }}</td>
                        <td>{{ foo.fullname }}</td>
                        <td>******</td>
                        <td>{{ foo.email }}</td>
                        <td>{{ foo.create_time }}</td>
                        <td>{{ foo.get_gender_display }}</td>
                        <td>{{ foo.depart.title }}</td>
                        <td>{{ foo.role.caption }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/user/{{ foo.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/user/{{ foo.id }}/del/" style="display: none">删除</a>
                        </td>
                        <td>
                            <a class="btn btn-group-xs btn-xs" href="/user/{{ foo.id }}/reset/">重置密码</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}